* { text-align: center }

.hidden {
  display: none;
  text-align: center;
}


form,
input {
  margin: 20px 0 0;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

td {

  padding: 10px;

}
